* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(251, 255, 228);
    padding: 0%;
    margin: 0%;
    margin-top: 0%;
}

div {
    margin: 0;
    padding: 0%;
}

.experience,.author, .text-content {
    color: rgb(61, 141, 122);
}

.portrait {
    width: 10rem
}