* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
}

body {
    background-color: rgb(251, 255, 228);
}

.experience,.author, .text-content {
    color: rgb(61, 141, 122);
}

.portrait {
    width: 10rem
}

.center {
    text-align: center;
}

footer {
    color: black;
}